<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sh.mxcy.dao.impl.MaterialDaoImpl">
    <insert id="insert_oper" parameterType="inDBJSONObject">
        INSERT INTO material_oper (
        NAME,
        spec,
        pro_unit,
        mea_unit,
        num,
        TYPE,
        oper_type,
        material_id,
        pro_plan_id,
        create_time,
        is_del,
        remarks
        )
        SELECT
        NAME,
        spec,
        pro_unit,
        mea_unit,
        <choose>
            <when test="insert_oper_num !=null ">
                #{insert_oper_num},
            </when>
            <otherwise>
                pro_num,
            </otherwise>
        </choose>
        TYPE,
        #{oper_type},
        #{id},
        #{pro_plan_id},
        NOW(),
        0,
        remarks
        FROM material_stock
        WHERE id = #{id}
            </insert>
    <insert id="insert" parameterType="inDBJSONObject">
        insert into material_stock(
        name,
        spec,
        pro_unit,
        mea_unit,
        pro_num,
        sur_num,
        type,
        status,
        create_time,
        is_del
        <if test="remarks != null">,remarks</if>

        )VALUE (
        #{name},
        #{spec},
        #{pro_unit},
        #{mea_unit},
        #{pro_num},
        #{pro_num},
        #{type_code},
        0,
        NOW(),
        0
        <if test="remarks != null">,#{remarks}</if>
        )

    </insert>


    <update id="update" parameterType="inDBJSONObject">
        update material_stock
        <set>
            <if test="name != null">name = #{name},</if>
            <if test="spec != null">spec = #{spec},</if>
            <if test="pro_unit != null">pro_unit = #{pro_unit},</if>
            <if test="mea_unit != null">mea_unit = #{mea_unit},</if>
            <if test="sur_num != null">sur_num = #{sur_num},</if>
            <if test="pro_num != null">pro_num = #{pro_num},</if>
            <if test="type_code != null">type = #{type_code},</if>
            <if test="remarks != null">remarks = #{remarks},</if>
        </set>
        where id=#{id}
    </update>

    <update id="delete" parameterType="inDBJSONObject">
        update material_stock set
          is_del=1
        where id in(${id})
    </update>

    <update id="audit" parameterType="inDBJSONObject">
        update material_stock set
        status=#{status_code},
        reviewer=#{reviewer},
        examine_time=NOW()
        where id=#{id}
    </update>

    <select id="query" parameterType="inDBJSONObject" resultType="outDBJSONObject">
        SELECT
        t1.id,
        t1.name,
        t1.spec,
        t1.pro_unit,
        t1.mea_unit,
        t1.pro_num,
        t2.val AS status_code,
        t2.name AS status_name,
        t3.val AS type_code,
        t3.name AS type_name,
        t1.sur_num,
        t1.reviewer,
        DATE_FORMAT(t1.examine_time,'%Y-%m-%d  %H:%i:%s') as examine_time,
        DATE_FORMAT(t1.create_time,'%Y-%m-%d  %H:%i:%s') as create_time,
        t1.remarks
        FROM
        (
        select * from material_stock
        where is_del=0
        <if test="id != null">and id=#{id}</if>
        <if test="name != null"> and name like '%${name}%'</if>
        <if test="pro_unit != null">and pro_unit=#{pro_unit}</if>
        <if test="type_code != null">and type=#{type_code}</if>
        <if test="status_code != null">and status=#{status_code}</if>
        <if test="sur_not_zero != null" >and sur_num>0</if>
        <if test="cre_time_start != null">and create_time >= STR_TO_DATE(#{cre_time_start},'%Y-%m-%d  %H:%i:%s')</if>
        <if test="cre_time_end != null">
            <![CDATA[ and create_time <= STR_TO_DATE(#{cre_time_end},'%Y-%m-%d  %H:%i:%s') ]]></if>
        ORDER BY create_time DESC
        LIMIT #{limit_start},#{limit_end}
        ) t1
        LEFT JOIN param_info t2 ON t1.status = t2.val AND t2.parent_id=5 AND t2.is_del=0
        LEFT JOIN param_info t3 ON t1.type = t3.val AND t3.parent_id=2 AND t3.is_del=0
    </select>

    <select id="query_total" parameterType="inDBJSONObject" resultType="int">
        select count(*) from material_stock
        where is_del=0
        <if test="id != null">and id=#{id}</if>
        <if test="name != null"> and name like '%${name}%'</if>
        <if test="pro_unit != null">and pro_unit=#{pro_unit}</if>
        <if test="type_code != null">and type=#{type_code}</if>
        <if test="status_code != null">and status=#{status_code}</if>
        <if test="sur_not_zero != null " >and sur_num>0</if>
        <if test="cre_time_start != null">and create_time >= STR_TO_DATE(#{cre_time_start},'%Y-%m-%d  %H:%i:%s')</if>
        <if test="cre_time_end != null">
            <![CDATA[ and create_time <= STR_TO_DATE(#{cre_time_end},'%Y-%m-%d  %H:%i:%s') ]]></if>
    </select>

    <select id="material_oper_que"  resultType="outDBJSONObject">
        SELECT name,num,DATE_FORMAT(create_time,'%Y%c%d') AS create_time
        FROM material_oper
        WHERE is_del=0
            <if test="oper_type != null">and oper_type=#{oper_type}</if>
            <if test="cre_time_start != null">and create_time >= STR_TO_DATE(#{cre_time_start},'%Y-%m-%d  %H:%i:%s')</if>
            <if test="cre_time_end != null">
                <![CDATA[ and create_time <= STR_TO_DATE(#{cre_time_end},'%Y-%m-%d  %H:%i:%s') ]]></if>
        ORDER BY create_time
    </select>
</mapper>